#booktable-container {
    width: 100%;
}

#booktable-page {
    width: 65%;
}

#selecttable-title {
    display: flex;
    flex-direction: row;
}

#hrline-Booktable {
    width: 60%;
    height: 1px;
    background-color: black;
}

#select-tags-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#first-select,
#second-select,
#third-select {
    width: 200px;
    position: relative;
}

#select-slots {
    display: flex;
    flex-direction: column;
}

#time-slots-div {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(146px, 1fr));
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

#time-slot-separate {
    width: 80px;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid rgb(230, 233, 239);
    height: 40px;
    background-color: rgb(255, 245, 246);
    box-shadow: rgba(28, 28, 28, 0.06) 0px 1.481px 5.924px 0px;
    cursor: pointer;
}

#time-slot-separate p {
    color: black;
    font-weight: 600;
}

#proceed-tocart-btn {
    width: 100%;
    height: 50px;
    cursor: pointer;
    margin: 10px 0;
    font-size: clamp(12px, 2vw, 20px);
    color: white;
    background-color: #EF4F5F;
    border-radius: 12px;
    border-color: unset;
}

@media screen and (min-width:320px) and (max-width:480px) {
    #booktable-page {
        width: 90%;
    }
    #first-select,
    #second-select,
    #third-select {
        width: 90px;
    }
    #second-select {
        margin: 0 5px;
    }
    #time-slots-div {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        justify-content: space-around;
        align-items: center;
        gap: 20px;
        padding: 10px;
    }
}

@media screen and (min-width:481px) and (max-width:640px) {
    #first-select,
    #second-select,
    #third-select {
        width: 90px;
    }
    #booktable-page {
        width: 90%;
    }
    #second-select {
        margin: 0 5px;
    }
    #time-slots-div {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
        justify-content: space-around;
        align-items: center;
        gap: 20px;
        padding: 10px;
    }
}

@media screen and (min-width:641px) and (max-width:960px) {
    #booktable-page {
        width: 90%;
    }
    #second-select {
        margin: 0 5px;
    }
    #time-slots-div {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        justify-content: space-around;
        align-items: center;
        gap: 20px;
        padding: 10px;
    }
}

@media screen and (min-width:961px) and (max-width:1024px) {
    #booktable-page {
        width: 95%;
    }
    #second-select {
        margin: 0 5px;
    }
    #time-slots-div {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        justify-content: space-around;
        align-items: center;
        gap: 20px;
        padding: 10px;
    }
}