#dining-hotelpage-container {
    width: 80%;
    margin: auto;
    min-height: 100vh;
    height: auto;
}

#dining-hotel-name-header {
    font-size: clamp(22px, 3vw, 36px);
    text-transform: capitalize;
    color: #1C1C1C;
}

#dining-hotel-subtexts-header {
    color: #494949;
    font-size: clamp(10px, 1vw, 16px);
}

#dining-hotel-subtexts-header2 {
    color: #9C9C9C;
    font-size: clamp(10px, 1vw, 16px);
}

#dining-hotel-contents {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
}

#dining-hotel-imgs {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
}

#dining-hotel-imgs img {
    cursor: pointer;
}

#dining-main-hotel-img img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#dining-secondary-hotel-img {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#dining-secondary-hotel-img img {
    height: 50%;
    width: 180px;
    margin: 2px 10px;
}

#dining-third-hotel-img {
    height: 100%;
}

#dining-third-hotel-img img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    max-width: 100%;
}

#dining-direction-share-button {
    display: flex;
    flex-direction: row;
}

#dining-direction-share-button div span {
    font-size: clamp(10px, 1vw, 20px);
}

#dining-direction-share-button div {
    width: 100px;
    margin: 0 10px 0 0;
    border-radius: 5px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 0 10px;
}

#dining-div-for-sticky {
    position: sticky;
    top: 0%;
    z-index: 1000;
    background-color: white;
    left: 0%;
}

#direction-share-button div span {
    font-size: clamp(12px, 2vw, 16px);
    margin: auto 4px;
}

#dining-about-header-div {
    width: 70%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#dining-hrLine {
    width: 100%;
    height: 2px;
    background-color: gray;
}

#dining-about-header-div p {
    font-size: clamp(12px, 2vw, 20px);
    cursor: pointer;
}

.dining-active-about {
    color: red;
}

#dishes-div {
    display: flex;
    flex-direction: row;
}

@media screen and (min-width:320px) and (max-width:480px) {
    #dining-direction-share-button div {
        width: 70px;
        justify-content: space-around;
    }
    #dining-hotel-imgs {
        display: grid;
        grid-template-columns: repeat(auto-fill, 100%);
        grid-template-rows: 1fr;
        grid-auto-flow: column;
        overflow-y: hidden;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
    }
    #dining-main-hotel-img {
        height: 60%;
        width: 100%;
    }
    #dining-main-hotel-img img {
        height: 100%;
    }
    #dining-secondary-hotel-img {
        height: 60%;
        display: flex;
    }
    #dining-secondary-hotel-img img {
        height: 50%;
    }
    #dining-third-hotel-img {
        display: flex;
        height: 60%;
    }
    #dining-third-hotel-img img {
        max-width: unset;
    }
    #dining-about-header-div {
        width: 100%;
    }
}

@media screen and (min-width:481px) and (max-width:640px) {
    #dining-direction-share-button div {
        width: 75px;
        justify-content: space-around;
    }
    #dining-hotel-imgs {
        display: grid;
        grid-template-columns: repeat(auto-fill, 100%);
        grid-template-rows: 1fr;
        grid-auto-flow: column;
        overflow-y: hidden;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
    }
    #dining-main-hotel-img {
        height: 60%;
        width: 100%;
    }
    #dining-main-hotel-img img {
        width: 100%;
        height: 100%;
    }
    #dining-secondary-hotel-img {
        height: 60%;
        display: flex;
    }
    #dining-secondary-hotel-img img {
        height: 50%;
    }
    #dining-third-hotel-img {
        display: flex;
        height: 60%;
    }
    #dining-third-hotel-img img {
        max-width: unset;
    }
    #dining-about-header-div {
        width: 100%;
    }
}

@media screen and (min-width:641px) and (max-width:960px) {
    #dining-direction-share-button div {
        width: 80px;
        justify-content: space-around;
    }
    #dining-hotel-imgs {
        display: grid;
        grid-template-columns: repeat(auto-fill, 100%);
        grid-template-rows: 1fr;
        grid-auto-flow: column;
        overflow-y: hidden;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
    }
    #dining-main-hotel-img {
        height: 60%;
        width: 100%;
    }
    #dining-main-hotel-img img {
        width: 100%;
    }
    #dining-secondary-hotel-img {
        height: 60%;
        display: flex;
    }
    #dining-secondary-hotel-img img {
        height: 50%;
    }
    #dining-third-hotel-img {
        display: flex;
        height: 60%;
    }
    #dining-third-hotel-img img {
        max-width: unset;
    }
    #dining-about-header-div {
        width: 100%;
    }
}