#delivery-page-container {
    min-height: 100vh;
    height: auto;
    width: 100%;
}

#food-ins-text {
    background-color: #FDF4F4;
}

#delivery-container {
    width: 100%;
    min-height: 50vh;
    height: auto;
    max-height: 55vh;
    background-color: #FDF4F4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

#brand-container {
    width: 80%;
    margin: auto;
    min-height: 50vh;
    height: auto;
    max-height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

#food-ins-text p,
#brand-text p {
    font-size: clamp(16px, 2vw, 25px);
    color: #1C1C1C;
    margin: auto;
    padding: 20px;
    margin-left: 10px;
    padding-left: 8px;
}

#brand-items-div,
#foods-order {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

#foods-order::-webkit-scrollbar,
#brand-items-div::-webkit-scrollbar {
    display: none;
}

#foods-order-div,
#brands-order-div {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

#food-items,
#brand-items {
    margin: 0 8px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#food-items img,
#brand-items img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 3px 3px 10px grey;
}

#prev-btn,
#prev-order-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: unset;
    box-shadow: 0 2px 15px gray;
    cursor: pointer;
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate(-10%, -50%);
    z-index: 5;
}

#next-btn,
#next-order-btn {
    width: 40px;
    height: 40px;
    border: unset;
    box-shadow: 0 2px 15px gray;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-90%, -50%);
    z-index: 5;
}

@media screen and (min-width:320px) and (max-width:480px) {
    #prev-btn,
    #next-btn,
    #prev-order-btn,
    #next-order-btn {
        display: none;
    }
    #brand-container {
        width: 100%;
        min-height: 60vh;
    }
    #foods-order-div,
    #brands-order-div {
        display: grid;
        height: auto;
        width: 100%;
        grid-gap: 16px;
        padding: 16px;
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        grid-auto-flow: column;
        grid-template-rows: 1fr 1fr;
        grid-auto-columns: minmax(160px, 1fr);
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        justify-content: unset;
    }
    #food-items img,
    #brand-items img {
        height: 80px;
        width: 80px;
    }
    #delivery-container {
        min-height: 60vh;
    }
}

@media screen and (min-width:481px) and (max-width:640px) {
    #prev-btn,
    #next-btn,
    #prev-order-btn,
    #next-order-btn {
        display: none;
    }
    #brand-container {
        min-height: 65vh;
        width: 100%;
    }
    #delivery-container {
        min-height: 65vh;
    }
    #foods-order-div,
    #brands-order-div {
        display: grid;
        height: auto;
        width: 100%;
        height: 100%;
        grid-gap: 16px;
        padding: 16px;
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        grid-auto-flow: column;
        grid-template-rows: 1fr 1fr;
        grid-auto-columns: minmax(160px, 1fr);
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        justify-content: unset;
    }
    #food-items img,
    #brand-items img {
        height: 90px;
        width: 90px;
    }
}